.khoangcahtrai{
    margin-left: 80px;
}
.khoangcahtrai3{
	margin-left: 60px;}
.khoangcahphai{
    margin-left: 90px;
}
.khoangcahphai1{
    margin-left: 50px;
}
.khoangcahphai2{
    margin-left: 20px;
}
.khoangcahphai3{
    margin-left: 70px;
}
.khoangcahphai4{
    margin-left: 80px;
}
.khoangcahphai5{
    margin-left: -30px;
}